<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
        <div class="container">
            <a class="navbar-brand"><img class="navbar-logo" src="../favicon.ico" alt="sun and rain">Weather Now</a>
            <ul class="nav navbar-nav" routerLinkActive="active">
                <li class="nav-item"><a class="nav-link" routerLink="login">Login</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="register">Register</a></li>
            </ul>
        </div>
</nav>

<router-outlet></router-outlet>
